@import "tailwindcss";

@theme {
  --border-width-0: 0.5;
  --color-background-color: #0d1017;
  --color-secondary: #fa8d3e;
  --color-text-primary: #fcfcfc;
  --color-border-color: #ffd580;
  --color-fixed-body: #0c1014;
  --color-fixed-header: #ed853b;
}

@layer utilities {
  .scrollbar {
    @apply [&::-webkit-scrollbar]:h-0.5 dark:[&::-webkit-scrollbar-track]:bg-transparent dark:[&::-webkit-scrollbar-thumb]:bg-secondary/50 [&::-webkit-scrollbar-thumb]:rounded-sm;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  @apply font-normal bg-background-color bg-fixed text-text-primary scheme-light-dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  min-width: 100vw;
}

.cells {
  @apply table-cell h-14 bg-background-color px-4 text-center whitespace-nowrap;

  &:where(th) {
    @apply bg-secondary text-background-color/80;
  }
}

.pagination-item {
  @apply h-10 px-3 py-1 border rounded-md border-border-color/70 hover:border-border-color hover:scale-105 cursor-pointer;
}

th:first-child,
td:first-child {
  @apply sticky left-0;

  &:where(td) {
    @apply bg-fixed-body;
  }

  &:where(th) {
    @apply bg-fixed-header;
  }
}
