@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #09090b;
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}
#root {
  min-width: 100vw;
}

.cells {
  @apply table-cell h-14 px-4 border-b border-r border-gray-200/25 text-center whitespace-nowrap;

  &:where(th) {
    @apply border;
  }
}

thead tr,
tr:nth-of-type(even) {
  @apply bg-slate-900;
}

table tbody tr {
  & td {
    @apply first:border-l last:border-r;
  }
}

.pagination-item {
  @apply h-10 px-3 py-1 border rounded-md border-gray-200/25 cursor-pointer;
  &:where(.active) {
    @apply border-slate-50;
  }
}

tr:nth-child(even) td {
  @apply bg-slate-900;
}

/* th:first-child,
td:first-child {
  position: sticky;
  left: 0;
}

th:nth-child(2),
td:nth-child(2) {
  position: sticky;
  left: 160px;
}

th:nth-child(3),
td:nth-child(3) {
  position: sticky;
  left: 310px;
} */
